@mixin display-center(
  $flexmode: inline-flex,
  $justifymode: initial,
  $alignmode: center
) {
  display: $flexmode;
  justify-content: $justifymode;
  align-items: $alignmode;
}

$breakpoint: (
  "iphoneSE": "screen and (max-width: 376px)",
  "iphone12Pro": "screen and (max-width: 391px)",
  "iphone8Plus": "screen and (max-width: 415px)",
  "iphoneSEhorizontal": "screen and (max-width: 668px)",
  "iphoneXhorizontal": "screen and (max-width: 813px)",
  "iphone12Prohorizontal": "screen and (max-width: 845px)",
);

.container {
  padding: 1rem;
  width: 95vw;
  margin: 0 auto;
}

.main {
  @include display-center(
    $flexmode: flex,
    $justifymode: center,
    $alignmode: center
  );
  min-height: 100vh;
}

/* 記事タイトル */
.title {
  margin-bottom: 15px;
}

/* 著者エリア */
.authorDataAlia {
  @include display-center();
  & > ul {
    padding: 0;
    & > li {
      list-style: none;
    }
  }
  & > ul li .authorName {
    @include display-center();
    font-size: 15px;
  }
}

/* カテゴリータグエリア */
.categoriesDataAlia {
  & > ul {
    @include display-center();
    padding: 0;
    margin-bottom: 0;
    & > li {
      list-style: none;
      margin-right: 1rem;

      & > a {
        text-decoration: none;
        font-size: 1rem;
      }
    }
  }
}

.contentBody {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

/* responsive SCSS */
@media #{ map-get($breakpoint, iphone12Prohorizontal) } {
  .title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .categoriesDataAlia {
    & > span {
      font-size: 0.85rem;
    }
    & > ul {
      & > li {
        & > a {
          font-size: 0.85rem;
        }
      }
    }
  }
  .publishedAt {
    font-size: 0.85rem;
  }
}
@media #{ map-get($breakpoint, iphone12Pro) } {
  .title {
    inline-size: 340px;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .categoriesDataAlia {
    & > span {
      font-size: 0.7rem;
    }
    & > ul {
      & > li {
        & > a {
          font-size: 0.7rem;
        }
      }
    }
  }
  .publishedAt {
    font-size: 0.7rem;
  }
}
@media #{ map-get($breakpoint, iphoneSE) } {
  .title {
    inline-size: 330px;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .categoriesDataAlia {
    & > span {
      font-size: 0.7rem;
    }
    & > ul {
      & > li {
        & > a {
          font-size: 0.7rem;
        }
      }
    }
  }
  .publishedAt {
    font-size: 0.7rem;
  }
}
